@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import "imports/breakpoints.scss";
@import "imports/colors.scss";
//Promo
.promo {
    background-image: url(../img/news-back.png);
    background-size: cover;
    background: linear-gradient(180deg, #f7f9f9 0, rgba(247, 249, 249, .58) 71.35%, rgba(247, 249, 249, 0) 100%);
    height: 440px;
    margin-bottom: 56px;
    .container {
        height: 100%;
        .promo-all {
            display: flex;
            flex-direction: column;
            height: 100%;
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 15%;
                height: 100%;
                .pages {
                    display: flex;
                    align-items: center;
                    margin-bottom: 46px;
                    height: auto;
                    &-main {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #919497;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &-arrow {
                        margin: 0 12px;
                        .arrow-last {
                            path {
                                fill: $buttonColor;
                            }
                        }
                        svg {
                            path {
                                fill: #919497;
                            }
                        }
                    }
                    &-now {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #83B143;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .title {
                    font-weight: 500;
                    font-size: 44px;
                    line-height: 53px;
                    color: $subtitleColor;
                }
            }
        }
    }
    @media (max-width: $xl) {
        height: 420px;
        .container {
            .promo-all {
                &__text {
                    padding: 0 40px;
                    margin-top: 15%;
                }
            }
        }
    }
    @media (max-width: $lg) {
        height: auto;
        .container {
            .promo-all {
                height: auto;
                &__text {
                    height: auto;
                    justify-content: flex-start;
                    padding: 31px 40px 46px;
                    margin-left: 0;
                    margin-top: 0;
                    .pages {
                        flex-wrap: wrap;
                        height: auto;
                        &-main,
                        &-now {
                            font-size: 15px;
                            margin-bottom: 13px;
                        }
                        &-arrow {
                            margin: 0 8px;
                            margin-bottom: 13px;
                        }
                    }
                    .title {
                        font-size: 28px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
    @media (max-width: $md) {
        height: auto;
        .container {
            .promo-all {
                height: auto;
                &__text {
                    height: auto;
                    justify-content: flex-start;
                    padding: 31px 0 46px;
                    margin-left: 0;
                    margin-top: 0;
                    .pages {
                        flex-wrap: wrap;
                        height: auto;
                        &-main,
                        &-now {
                            font-size: 15px;
                            margin-bottom: 13px;
                        }
                        &-arrow {
                            margin: 0 8px;
                            margin-bottom: 13px;
                        }
                    }
                    .title {
                        font-size: 28px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}

//Events
.events {
    margin-bottom: 72px;
    .container {
        .events-all {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__main {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 38px;
                a {
                    .main-item {
                        background: #FFFFFF;
                        padding: 40px 40px 48px 40px;
                        box-shadow: 0px 1px 3px rgba(25, 30, 30, 0.08);
                        border-radius: 4px;
                        margin-bottom: 30px;
                        height: 339px;
                        border: 1px solid #fff;
                        transition: 0.5s;
                        &:hover {
                            box-shadow: 0px 1px 10px rgba(25, 30, 30, 0.1);
                            border: 1px solid #83B143;
                        }
                        &:nth-child(7),
                        &:nth-child(8) {
                            margin-bottom: 0;
                        }
                        &__date {
                            display: flex;
                            align-items: center;
                            margin-bottom: 24px;
                            max-width: 489px;
                            .date-text {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                color: #919497;
                                margin-left: 16px;
                            }
                        }
                        &__title {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 27px;
                            color: $textColor;
                            margin-bottom: 24px;
                            max-width: 489px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &__subtitle {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: $subtitleColor;
                            max-width: 489px;
                        }
                    }
                }
            }
            &__pages {
                display: flex;
                align-items: center;
                .pages-prev {
                    margin-right: 22px;
                    svg {
                        transform: rotate(90deg);
                    }
                }
                .pages-next {
                    margin-left: 22px;
                    svg {
                        transform: rotate(-90deg);
                    }
                }
                .pages-prev,
                .pages-next {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FFFFFF;
                    border: 1px solid #CDCDCD;
                    border-radius: 50%;
                    height: 42px;
                    width: 42px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .pages-counter {
                    display: flex;
                    align-items: center;
                    a {
                        margin-right: 11px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .pages-counter__item {
                            background-color: transparent;
                            border-radius: 12px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            width: 24px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.5s;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                            color: $subtitleColor;
                            &:hover {
                                background-color: $buttonColor;
                                color: #fff;
                            }
                        }
                        .active-count {
                            background-color: $buttonColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1300px) {
        .container {
            padding: 0 40px;
            .events-all {
                &__main {
                    justify-content: space-between;
                    a {
                        display: flex;
                        width: 48%;
                        .main-item {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $md) {
        .container {
            padding: 0 15px;
            .events-all {
                &__main {
                    justify-content: space-between;
                    a {
                        width: 48%;
                        .main-item {
                            width: 100%;
                            height: auto;
                            &__title {
                                font-size: 14px;
                                line-height: 20px;
                            }
                            &__subtitle {
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $sm) {
        .container {
            padding: 0 15px;
            .events-all {
                &__main {
                    justify-content: center;
                    a {
                        width: 100%;
                        .main-item {
                            width: 100%;
                            height: auto;
                            &:nth-child(7) {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
                &__pages {
                    .pages-prev,
                    .pages-next {
                        display: none;
                    }
                }
            }
        }
    }
}