//Overlay
.overlay.animate__animated.animate__fadeIn
    .overlay-all
        .overlay-all__one.overlay-item
            .overlay-item__title Банки, МФО и КПК
            .nav-wrapper
                .overlay-item__nav
                    .nav-title Кредитные истории:
                    .nav-list
                        a(href="#").nav-list__item Хранение кредитных историй
                        a(href="#").nav-list__item Сервис ЦККИ
                        a(href="#").nav-list__item Кредитный отчет
                .overlay-item__nav
                    .nav-title Кредитные истории:
                    .nav-list
                        a(href="#").nav-list__item Рейтинг Бюро
                        a(href="#").nav-list__item Рейтинг работодателя
                        a(href="#").nav-list__item Скоринг
                .overlay-item__nav
                    .nav-title Сопровождение клиентов:
                .overlay-item__nav
                    .nav-title Верификация персональных данных:
                    .nav-list
                        a(href="#").nav-list__item Верификация
                        a(href="#").nav-list__item Хеш-верификация
                .overlay-item__nav
                    .nav-title Сервисы федеральных служб:
                    .nav-list
                        a(href="#").nav-list__item Сервис ЕГРЮЛ/ЕГРИП
                        a(href="#").nav-list__item Проверка паспорта
                        a(href="#").nav-list__item ФССП
                .overlay-item__nav
                    .nav-title Кредитные истории
        .overlay-all__two.overlay-item
            .overlay-item__title Для коллекторских агенств
            .overlay-item__nav
                .nav-list
                    a(href="#").nav-list__item Хранение кредитных историй
                    a(href="#").nav-list__item Коллекшен рейтинг
                    a(href="#").nav-list__item ФССП
        .overlay-all__two.overlay-item
            .overlay-item__title Для страховых компаний
            .overlay-item__nav
                .nav-list
                    a(href="#").nav-list__item Скоринг
                    a(href="#").nav-list__item Верификация
                    a(href="#").nav-list__item Хэш-верификация
                    a(href="#").nav-list__item Проверка паспорта
        .overlay-all__two.overlay-item
            .overlay-item__title Для ЖКУ
            .overlay-item__nav
                .nav-list
                    a(href="#").nav-list__item Хранение кредитных историй
                    a(href="#").nav-list__item Кредитный отчет

//Overlay-two
.overlay-two.animate__animated.animate__fadeIn
    .overlay-two-all
        .overlay-item
            .nav-list
                a(href="#").nav-list__item Кредитный отчет
                a(href="#").nav-list__item Запрос/выписка ЦККИ
                a(href="#").nav-list__item Скоринг
        .overlay-item
            .nav-list
                a(href="#").nav-list__item Оповещения
                a(href="#").nav-list__item Подписка
                a(href="#").nav-list__item Исправление кредитной истории и консультации

//headerAdaptive
.headerAdaptive
    .headerAdaptive-all
        .headerAdaptive-all__top
            .logo
                img(src="img/logo.png", alt="")
            .right
                a(href="tel:84956096424")
                    .right-phone
                        svg(width='16' height='24' viewBox='0 0 16 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 0H2C0.9 0 0 0.9 0 2V22C0 23.1 0.9 24 2 24H14C15.1 24 16 23.1 16 22V2C16 0.9 15.1 0 14 0ZM14 22H2V18H14V22ZM14 16H2V2H14V16Z' fill='#C41D39')
                            path(d='M6 21H10C10.55 21 11 20.55 11 20C11 19.45 10.55 19 10 19H6C5.45 19 5 19.45 5 20C5 20.55 5.45 21 6 21Z' fill='#C41D39')
                .right-acc
                    svg(width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.9862 14.8C13.7627 13.76 13.2549 12.79 12.5135 11.99C12.0158 11.46 11.4267 11.03 10.7767 10.7C12.1885 9.6 13.0924 7.9 13.0924 6C13.1026 2.69 10.3705 0 7.00866 0C3.64685 0 0.914745 2.69 0.914745 6C0.914745 7.9 1.81868 9.6 3.23043 10.7C2.58042 11.03 1.99134 11.46 1.49367 11.99C0.752241 12.78 0.244415 13.75 0.0209713 14.8C-0.0907505 15.34 0.254571 15.87 0.803024 15.98C0.874119 15.99 0.945215 16 1.01631 16C1.48351 16 1.91008 15.68 2.01165 15.2C2.15384 14.51 2.49916 13.87 2.98668 13.34C3.78904 12.49 4.93673 12 6.1352 12H7.87196C9.07043 12 10.2181 12.49 11.0205 13.34C11.5182 13.87 11.8533 14.51 11.9955 15.2C12.1072 15.74 12.6455 16.09 13.194 15.97C13.7424 15.86 14.0979 15.33 13.976 14.79L13.9862 14.8ZM7.00866 2C9.25325 2 11.0713 3.79 11.0713 6C11.0713 8.21 9.25325 10 7.00866 10C4.76407 10 2.94605 8.21 2.94605 6C2.94605 3.79 4.76407 2 7.00866 2Z' fill='#C41D39')
        .headerAdaptive-all__bottom
            .menu-wrapper
                .hamburger-menu
            .menu-form
                form(action="#")
                    input(type="text", placeholder="Поиск по сайту")
                    svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_50_53)')
                            path(d='M15.7065 14.3001L13.3753 11.9689C14.3644 10.6766 14.9062 9.10592 14.9062 7.45075C14.9062 5.45759 14.1308 3.58868 12.7242 2.17706C9.81645 -0.725702 5.08454 -0.725702 2.18178 2.18203C-0.725957 5.08977 -0.725957 9.8167 2.18178 12.7244C3.58843 14.1311 5.4623 14.9065 7.45547 14.9065C9.11064 14.9065 10.6813 14.3647 11.9736 13.3756L14.3048 15.7067C14.4986 15.9006 14.7521 16 15.0056 16C15.2591 16 15.5126 15.9006 15.7065 15.7067C16.0942 15.319 16.0942 14.6878 15.7065 14.3001ZM3.58346 11.3178C1.45112 9.18545 1.45112 5.71605 3.58346 3.58371C4.65211 2.52003 6.04882 1.98321 7.4505 1.98321C8.85217 1.98321 10.2489 2.51506 11.3175 3.58371C12.3862 4.65237 12.918 5.98943 12.918 7.45075C12.918 8.91208 12.3514 10.2839 11.3175 11.3178C10.2837 12.3517 8.91182 12.9183 7.4505 12.9183C5.98917 12.9183 4.61732 12.3517 3.58346 11.3178Z' fill='white')
                        defs
                            clippath#clip0_50_53
                                rect(width='16' height='16' fill='white')

//Adaptive
.adaptive
    .adaptive-all
        .adaptive-all__nav
            .nav-list
                .nav-item
                    a(href="#") О компании
                .nav-item.open-adaptive-one
                    a(href="#") Корпоративным клиентам
                    .overlay-arrow
                        svg.svg-one(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                //overlay-adaptive-one
                .overlay-adaptive-one
                    .nav-list
                        .nav-item
                            a(href="#") Личный кабинет
                            .overlay-arrow
                                svg.svg-two(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                        .nav-item.open-two
                            a(href="#") Банки, МФО и КПК
                            .overlay-arrow
                                svg.svg-three(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                        //
                        .drop-two
                            .nav-wrapper
                                .overlay-item__nav
                                    .nav-title Кредитные истории:
                                    .nav-list
                                        a(href="#").nav-list__item Хранение кредитных историй
                                        a(href="#").nav-list__item Сервис ЦККИ
                                        a(href="#").nav-list__item Кредитный отчет
                                .overlay-item__nav
                                    .nav-title Оценка рисков
                                    .nav-list
                                        a(href="#").nav-list__item Хранение кредитных историй
                                        a(href="#").nav-list__item Сервис ЦККИ
                                        a(href="#").nav-list__item Кредитный отчет
                                .overlay-item__nav
                                    .nav-title Сопровождение клиентов:
                                .overlay-item__nav
                                    .nav-title Верификация персональных данных:
                                    .nav-list
                                        a(href="#").nav-list__item Верификация
                                        a(href="#").nav-list__item Хеш-верификация
                                .overlay-item__nav
                                    .nav-title Сервисы федеральных служб:
                                    .nav-list
                                        a(href="#").nav-list__item Сервис ЕГРЮЛ/ЕГРИП
                                        a(href="#").nav-list__item Проверка паспорта
                                        a(href="#").nav-list__item ФССП
                                .overlay-item__nav
                                    .nav-title Кредитные истории
                        //
                        .nav-item.open-three
                            a(href="#") Для коллекторских агенств
                            .overlay-arrow
                                svg.svg-four(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                        //
                        .drop-three
                            .overlay-item__nav
                                .nav-list
                                    a(href="#").nav-list__item Хранение кредитных историй
                                    a(href="#").nav-list__item Коллекшен рейтинг
                                    a(href="#").nav-list__item ФССП
                        //
                        .nav-item.open-four
                            a(href="#") Для страховых компаний
                            .overlay-arrow
                                svg.svg-five(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                        //
                        .drop-four
                            .overlay-item__nav
                                .nav-list
                                    a(href="#").nav-list__item Скоринг
                                    a(href="#").nav-list__item Верификация
                                    a(href="#").nav-list__item Хэш-верификация
                                    a(href="#").nav-list__item Проверка паспорта
                        //
                        .nav-item.open-five
                            a(href="#") Для ЖКУ
                            .overlay-arrow
                                svg.svg-six(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                        //
                        .drop-five
                            .overlay-item__nav
                                .nav-list
                                    a(href="#").nav-list__item Хранение кредитных историй
                                    a(href="#").nav-list__item Кредитный отчет
                        //
                //
                .nav-item.open-adaptive-two
                    a(href="#") Частным клиентам
                    .overlay-arrow
                        svg.svg-seven(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                //overlay-adaptive-two
                .overlay-adaptive-two
                    .overlay-adaptive-two-all
                        .overlay-item
                            .nav-list
                                a(href="#").nav-list__item Кредитный отчет
                                a(href="#").nav-list__item Запрос/выписка ЦККИ
                                a(href="#").nav-list__item Скоринг
                        .overlay-item
                            .nav-list
                                a(href="#").nav-list__item Оповещения
                                a(href="#").nav-list__item Подписка
                                a(href="#").nav-list__item Исправление кредитной истории и консультации
                //
                .nav-item
                    a(href="#") Новости
                .nav-item
                    a(href="#") Финансовым управляющим
                .nav-item
                    a(href="#") Партнеры
                .nav-item
                    a(href="#") Вопрос-ответ