footer.footer
    .footer-all
        .footer-all__nav
            ul
                li
                    a(href="#") Официальная информация
                li
                    a(href="#") Вопросы и ответы
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты
        .hr
        .footer-all__logo
            a(href="#")
                img(src="img/logo2.svg", alt="")
        .footer-all__copy © 2005–2022 Кредитное бюро Русский Стандарт. Лицензия ЦБ РФ № 077-00010-002
        .footer-all__text Разработано студией <a href="#">Freelab.ru</a>