header.header
    .header-all
        .header-all__top
            .header-logo
                a(href="#")
                    img(src="img/logo.svg", alt="")
            .header-profile
                .header-profile__phone
                    a(href="tel:84956096424")
                        .phone-img
                            img(src="img/phone.svg", alt="")
                        .phone-number 8 (495) 609-64-24
                .header-profile__account
                    .account-sign
                        .account-sign__login Вход
                        span /
                        .account-sign__reg Регистрация
                    .account-logo
                        img(src="img/account.svg", alt="")
                    .dropdown-block
                        a(href='#' target='_blank') Для физических лиц
                        a(href='#' target='_blank') Для корпоративных клиентов

        .header-all__nav
            .nav-list
                .nav-item
                    a(href="#") О компании
                .hr-wrapper
                    .nav-hr
                .nav-item.overlay-open-one
                    a(href="#") Корпоративным клиентам
                .hr-wrapper
                    .nav-hr
                .nav-item.overlay-open-two
                    a(href="#") Частным клиентам
                .hr-wrapper
                    .nav-hr
                .nav-item
                    a(href="#") Новости
                .hr-wrapper
                    .nav-hr
                .nav-item
                    a(href="#") Финансовым управляющим
                .hr-wrapper
                    .nav-hr
                .nav-item
                    a(href="#") Партнеры
                .hr-wrapper
                    .nav-hr
                .nav-item
                    a(href="#") Вопрос-ответ
                .hr-wrapper
                    .nav-hr
                .nav-item
                    form(action="#")
                        input(type="text", placeholder="Поиск")
                        a(href="#").search
                            img(src="img/search.svg", alt="")