doctype html
html(lang='en')
    include includes/head
    body
        .all
            //Sites elements
            include includes/elements

            //Header
            include includes/header

            //Promo
            .promo
                .promo-all
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                .container
                                    .swiper-slide-desc
                                        .title Кредитный отчет
                                        .subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт
                                        .buttons
                                            a(href="#") Частным клиентам
                                            a(href="#") Корпоративным клиентам
                            .swiper-slide
                                .container
                                    .swiper-slide-desc
                                        .title Кредитный отчет
                                        .subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт
                                        .buttons
                                            a(href="#") Частным клиентам
                                            a(href="#") Корпоративным клиентам
                            .swiper-slide
                                .container
                                    .swiper-slide-desc
                                        .title Кредитный отчет
                                        .subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт
                                        .buttons
                                            a(href="#") Частным клиентам
                                            a(href="#") Корпоративным клиентам
                        .swiper-pagination

            //Services
            .services
                .container
                    .services-all
                        .services-all__title Наши сервисы
                        .services-all__main
                            .main-item
                                .main-item__top
                                    .title Полезные инструменты
                                    .subtitle Получите свою кредитную историю легко и просто
                                .main-item__bottom
                                    .button
                                        a(href="#") Попробовать
                            .main-item
                                .main-item__top
                                    .title Личный кабинет
                                    .subtitle Настраивайте оповещения и управляйте нашими услугами
                                .main-item__bottom
                                    .button
                                        a(href="#") Войти в ЛК
                            .main-item
                                .main-item__top
                                    .title Онлайн-идентификация
                                    .subtitle Через наш сервис вы сможете подтверить личные данные 
                                .main-item__bottom
                                    .button
                                        a(href="#") Пройти
                        .services-all__third
                            .third-wrapper
                                .title Проверить свою кредитную историю прямо сейчас?
                                .text
                                    span Подтвердите свою личность через
                                    img(src="img/services1.png", alt="")
                                .buttons
                                    a(href="#") Войти
                                    a(href="#") Зарегистрироваться

            //Info
            .info
                .container
                    .info-all
                        .info-all__title Информация о услугах
                        .info-all__main
                            a(href="#")
                                .main-item
                                    .main-item__img
                                        img(src="img/info1.svg", alt="")
                                    .main-item__title Кредитный отчет
                                    .main-item__subtitle Основной источник информации кредитных организаций для принятия решений о выдаче займа…
                            a(href="#")
                                .main-item
                                    .main-item__img
                                        img(src="img/info2.svg", alt="")
                                    .main-item__title Скоринг
                                    .main-item__subtitle Основной источник информации кредитных организаций для принятия решений о выдаче займа…
                            a(href="#")
                                .main-item
                                    .main-item__img
                                        img(src="img/info3.svg", alt="")
                                    .main-item__title Сервис ЦККИ
                                    .main-item__subtitle Это структурное подразделение Банка России, которое ведет базу данных для поиска БКИ, содержащих кредитные истории субъектов кредитных историй… 
                            a(href="#")
                                .main-item
                                    .main-item__img
                                        img(src="img/info4.svg", alt="")
                                    .main-item__title Верификация
                                    .main-item__subtitle Верификация данных это проверка корректности и взаимного соответствия анкетных данных потенциального клиента…
            
            //Desc
            .desc
                .container
                    .desc-all
                        .desc-all__text
                            .title.
                                <span>Кредитное бюро Русский Стандарт<br></span>
                                является одним из крупнейших БКИ<br>
                                по объему кредитных историй в России
                            .subtitle.
                                Бюро хранит и предоставляет на эксклюзивной основе истории АО «Банк Русский Стандарт» — <br> ведущего национального банка на рынке обслуживания клиентов и занимающего лидирующие <br> позиции на рынке кредитования и кредитных карт.
                            .button
                                a(href="#") Узнать больше
                        .desc-all__logo
                            img(src="img/logo3.png", alt="")

            //News
            .news
                .container
                    .news-all
                        .news-all__title Новости Бюро
                        .news-all__main
                            .main-important
                                .main-important__top
                                    .title Важная новость
                                    .subtitle Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                                .main-important__bottom
                                    .button
                                        a(href="#") Читать
                            .main-last
                                .swiper-two
                                    .swiper-wrapper
                                        .swiper-slide.slide-one
                                            .title Последние новости
                                            .main
                                                .main-item
                                                    .main-item__date 9 МАРТА 2022
                                                    .main-item__text
                                                        a(href="#") Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                                                .main-item
                                                    .main-item__date 2 НОЯБРЯ 2021
                                                    .main-item__text
                                                        a(href="#") 03 ноября 2021 г. отменяется прием физических лиц
                                                .main-item
                                                    .main-item__date 22 ИЮНЯ 2021
                                                    .main-item__text
                                                        a(href="#") 23 июня 2021 г. отменяется прием физических лиц
                                            .buttons
                                                .button
                                                    a(href="#") Больше новостей
                                                .button-nav
                                                    .swiper-prev
                                                        img(src="img/btnprev.svg", alt="")
                                                    .swiper-next
                                                        img(src="img/btnnext.svg", alt="")
                                        .swiper-slide.slide-two
                                            .title Последние новости
                                            .main
                                                .main-item
                                                    .main-item__date 9 МАРТА 2022
                                                    .main-item__text
                                                        a(href="#") Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                                                .main-item
                                                    .main-item__date 2 НОЯБРЯ 2021
                                                    .main-item__text
                                                        a(href="#") 03 ноября 2021 г. отменяется прием физических лиц
                                                .main-item
                                                    .main-item__date 22 ИЮНЯ 2021
                                                    .main-item__text
                                                        a(href="#") 23 июня 2021 г. отменяется прием физических лиц
                                            .buttons
                                                .button
                                                    a(href="#") Больше новостей
                                                .button-nav
                                                    .swiper-prev
                                                        img(src="img/btnprev.svg", alt="")
                                                    .swiper-next
                                                        img(src="img/btnnext.svg", alt="")
                                        .swiper-slide.slide-three
                                            .title Последние новости
                                            .main
                                                .main-item
                                                    .main-item__date 9 МАРТА 2022
                                                    .main-item__text
                                                        a(href="#") Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                                                .main-item
                                                    .main-item__date 2 НОЯБРЯ 2021
                                                    .main-item__text
                                                        a(href="#") 03 ноября 2021 г. отменяется прием физических лиц
                                                .main-item
                                                    .main-item__date 22 ИЮНЯ 2021
                                                    .main-item__text
                                                        a(href="#") 23 июня 2021 г. отменяется прием физических лиц
                                            .buttons
                                                .button
                                                    a(href="#") Больше новостей
                                                .button-nav
                                                    .swiper-prev
                                                        img(src="img/btnprev.svg", alt="")
                                                    .swiper-next
                                                        img(src="img/btnnext.svg", alt="")



            include includes/footer

        include includes/scripts
