doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/legal.min.css")
    body
        .all
            //Preloader
            include includes/preloader
            
            //Sites elements
            include includes/elements

            //Header
            include includes/header
                                
            //Promo
            .promo
                .container
                    .promo-all
                        .promo-all__text
                            .pages
                                a(href="#")
                                    .pages-main Главная
                                .pages-arrow
                                    svg.arrow-last(width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 3.99999L1.27146e-07 8L0 0L5 3.99999Z' fill='#83B143')
                                a(href="#")
                                    .pages-now Финансовым управляющим
                            .title Финансовым управляющим

            //Finance
            .finance
                .container
                    .finance-all
                        .finance-all__left
                            .text.
                                <span>Согласно п. 4 ст. 3 Федерального закона от 30.12.2004 N 218-ФЗ«О кредитных историях»</span><br>
                                (далее – Закон 218-ФЗ) арбитражный управляющий, назначенный для проведения процедуры, 
                                применяемой в деле о несостоятельности (банкротстве) физического лица, в том числе 
                                индивидуального предпринимателя (далее - финансовый управляющий) относится к источникам 
                                формирования кредитной истории. В случае наличия у заемщика - физического лица кредитной 
                                истории на момент принятия к производству заявления о признании его несостоятельным 
                                (банкротом) финансовый управляющий обязан представлять информацию, определенную ч. 2, пп. 
                                «г» п. 1, п. 4 ч. 4 ст. 4 Закона 218-ФЗ, в бюро кредитных историй, в которых сформирована 
                                кредитная история указанного субъекта кредитной истории, а при отсутствии у заемщика - 
                                физического лица кредитной истории на момент принятия к производству заявления о признании 
                                его несостоятельным (банкротом) финансовый управляющий обязан направлять такую информацию 
                                хотя бы в одно бюро кредитных историй, включенное в государственный реестр бюро кредитных 
                                историй (ч. 3.9 ст. 5 Закона 218-ФЗ). Финансовый управляющий направляет сведения о 
                                процедурах, применяемых в деле о несостоятельности (банкротстве) физического лица, если 
                                арбитражным судом принято к производству заявление о признании физического лица 
                                несостоятельным (банкротом), в том числе сведения о неправомерных действиях физического 
                                лица при несостоятельности (банкротстве), сведения о преднамеренном или фиктивном 
                                банкротстве, с указанием ссылки (включая дату) на включение сведений в Единый федеральный 
                                реестр сведений о банкротстве (пп. «г»п. 1 ч. 3 ст. 4 Закона 218-ФЗ).<br> <span>Финансовый 
                                управляющий, являясь источники формирования кредитной истории, представляет информацию, 
                                определённую ст. 4 Закона 218-ФЗ, в бюро кредитных историй в форме электронного документа 
                                на основании заключенного договора об оказании информационных услуг, который является 
                                договором присоединения, условия которого определяет бюро кредитных историй
                                (ч. 1, ч. 2, ч. 5.8 ст. 5 Закона 218-ФЗ).</span>
                            .methods
                                .methods-title Финансовый управляющий обращается в Бюро одним из способов:
                                .methods-main
                                    .main-item
                                        .item-count 1
                                        .item-content
                                            .item-content__title Через личный кабинет нашего Бюро
                                            .item-content__text.
                                                Использует стандартный функционал для отправки запросов на кредитную историю субъекта, а также выгрузки кредитных историй.<br><br>
                                                Для подключения к Автоматизированной системе КБРС финансовый управляющий соглашается с условиями Оферты Бюро, направляя Заявку на подключение,а также комплект документов, предусмотренных п. 4.1.1 Оферты, на бумажных носителях.
                                            .item-content__buttons
                                                a(href="#")
                                                    .button
                                                        .button-icon
                                                            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M2.61788 23.6201C2.40788 23.6201 2.19788 23.5901 1.98788 23.5401C1.14788 23.3201 0.517881 22.6701 0.287881 21.8101C0.0078809 20.7801 0.377881 19.6601 1.28788 18.7501C2.19788 17.8401 4.06788 16.9401 6.55788 16.1901C6.94788 15.4501 7.32788 14.6501 7.67788 13.8401C8.48788 11.9601 9.17788 10.0201 9.70788 8.33011C8.57788 6.33011 7.86788 4.57011 7.86788 3.61011C7.86788 1.47011 9.12788 0.360107 10.3679 0.360107C11.0779 0.360107 11.7379 0.710107 12.1979 1.32011C12.6379 1.90011 12.8679 2.70011 12.8679 3.61011C12.8679 4.29011 12.4979 6.00011 11.8679 8.12011C13.1279 10.1701 14.8279 12.4801 16.4879 14.2901C17.9379 14.1601 19.4379 14.1301 20.9879 14.3101C23.2079 14.6701 23.8779 16.0201 23.7979 17.0701C23.6879 18.4201 22.4379 19.4801 20.9579 19.4801C19.4779 19.4801 17.5979 18.2201 15.7579 16.3901C14.4579 16.5501 13.2079 16.7701 12.0179 16.9901L11.7579 17.0401C10.3079 17.3001 9.03788 17.5901 7.94788 17.8901C6.69788 20.1901 5.42788 22.0001 4.75788 22.6701C4.12788 23.3101 3.37788 23.6401 2.63788 23.6401L2.61788 23.6201ZM5.04788 18.8201C3.84788 19.3101 3.06788 19.7801 2.68788 20.1601C2.29788 20.5501 2.11788 20.9701 2.20788 21.2901C2.24788 21.4501 2.35788 21.5601 2.49788 21.6001C2.71788 21.6601 3.02788 21.5201 3.31788 21.2301C3.65788 20.8901 4.30788 20.0101 5.04788 18.8201ZM18.4279 16.1801C19.3879 16.9801 20.2579 17.4601 20.9279 17.4601C21.4479 17.4601 21.7579 17.1301 21.7779 16.8901C21.7979 16.6301 21.3579 16.3801 20.6979 16.2701C19.9379 16.1901 19.1779 16.1601 18.4279 16.1701V16.1801ZM11.0679 10.5601C10.6079 11.9001 10.0779 13.2901 9.49788 14.6201C9.36788 14.9201 9.23788 15.2101 9.09788 15.5001C9.81788 15.3301 10.5779 15.1801 11.3679 15.0401L11.6279 14.9901C12.4179 14.8501 13.2279 14.7001 14.0679 14.5701C12.9879 13.3101 11.9579 11.9201 11.0579 10.5501L11.0679 10.5601ZM10.3579 2.35011C10.1879 2.35011 9.85788 2.73011 9.85788 3.60011C9.85788 4.05011 10.0879 4.74011 10.4779 5.58011C10.7279 4.59011 10.8579 3.87011 10.8579 3.60011C10.8579 2.96011 10.6879 2.64011 10.5879 2.51011C10.5079 2.41011 10.4279 2.35011 10.3579 2.35011Z' fill='#C41D39')
                                                        .button-text Оферта Бюро
                                                a(href="#")
                                                    .button
                                                        .button-icon
                                                            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M2.61788 23.6201C2.40788 23.6201 2.19788 23.5901 1.98788 23.5401C1.14788 23.3201 0.517881 22.6701 0.287881 21.8101C0.0078809 20.7801 0.377881 19.6601 1.28788 18.7501C2.19788 17.8401 4.06788 16.9401 6.55788 16.1901C6.94788 15.4501 7.32788 14.6501 7.67788 13.8401C8.48788 11.9601 9.17788 10.0201 9.70788 8.33011C8.57788 6.33011 7.86788 4.57011 7.86788 3.61011C7.86788 1.47011 9.12788 0.360107 10.3679 0.360107C11.0779 0.360107 11.7379 0.710107 12.1979 1.32011C12.6379 1.90011 12.8679 2.70011 12.8679 3.61011C12.8679 4.29011 12.4979 6.00011 11.8679 8.12011C13.1279 10.1701 14.8279 12.4801 16.4879 14.2901C17.9379 14.1601 19.4379 14.1301 20.9879 14.3101C23.2079 14.6701 23.8779 16.0201 23.7979 17.0701C23.6879 18.4201 22.4379 19.4801 20.9579 19.4801C19.4779 19.4801 17.5979 18.2201 15.7579 16.3901C14.4579 16.5501 13.2079 16.7701 12.0179 16.9901L11.7579 17.0401C10.3079 17.3001 9.03788 17.5901 7.94788 17.8901C6.69788 20.1901 5.42788 22.0001 4.75788 22.6701C4.12788 23.3101 3.37788 23.6401 2.63788 23.6401L2.61788 23.6201ZM5.04788 18.8201C3.84788 19.3101 3.06788 19.7801 2.68788 20.1601C2.29788 20.5501 2.11788 20.9701 2.20788 21.2901C2.24788 21.4501 2.35788 21.5601 2.49788 21.6001C2.71788 21.6601 3.02788 21.5201 3.31788 21.2301C3.65788 20.8901 4.30788 20.0101 5.04788 18.8201ZM18.4279 16.1801C19.3879 16.9801 20.2579 17.4601 20.9279 17.4601C21.4479 17.4601 21.7579 17.1301 21.7779 16.8901C21.7979 16.6301 21.3579 16.3801 20.6979 16.2701C19.9379 16.1901 19.1779 16.1601 18.4279 16.1701V16.1801ZM11.0679 10.5601C10.6079 11.9001 10.0779 13.2901 9.49788 14.6201C9.36788 14.9201 9.23788 15.2101 9.09788 15.5001C9.81788 15.3301 10.5779 15.1801 11.3679 15.0401L11.6279 14.9901C12.4179 14.8501 13.2279 14.7001 14.0679 14.5701C12.9879 13.3101 11.9579 11.9201 11.0579 10.5501L11.0679 10.5601ZM10.3579 2.35011C10.1879 2.35011 9.85788 2.73011 9.85788 3.60011C9.85788 4.05011 10.0879 4.74011 10.4779 5.58011C10.7279 4.59011 10.8579 3.87011 10.8579 3.60011C10.8579 2.96011 10.6879 2.64011 10.5879 2.51011C10.5079 2.41011 10.4279 2.35011 10.3579 2.35011Z' fill='#C41D39')
                                                        .button-text Пример Заявки
                                    .main-item
                                        .item-count 2
                                        .item-content
                                            .item-content__title Лично предоставить документы в офис Бюро
                                            .item-content__text.
                                                Документ удостоверяющий личность, судебный акт (оригинал или копия, заверенная судом) об утверждении финансового управляющего в деле о несостоятельности (банкротстве), выписку из реестра СРО, членом которой является финансовый управляющий, содержащей наименование и ИНН организации.
                                                Адрес: Москва, Семеновская площадь, дом 7, корпус 1 (время приема - среда с 10:00 до 18:00, перерыв с 13:00 до 14:00).
                        .finance-all__right
                            .about
                                .about-text <span>В соответствии с пунктом 8 части 1 статьи 6 Федерального закона № 218-ФЗ «О кредитных историях»</span> финансовый управляющий, назначенный в деле о несостоятельности (банкротстве) физического лица вправе по запросу получить титульную и дополнительную (закрытую) часть кредитной истории физического лица, финансовым управляющем которого он является.

            include includes/footer

        include includes/scripts
