doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/news-detail.min.css")
    body
        .all
            //Preloader
            include includes/preloader
            
            //Sites elements
            include includes/elements

            //Header
            include includes/header
                                
            //Promo
            .promo
                .container
                    .promo-all
                        .promo-all__text
                            .pages
                                a(href="#")
                                    .pages-main Главная
                                .pages-arrow
                                    svg(width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 3.99999L1.27146e-07 8L0 0L5 3.99999Z' fill='#83B143')
                                a(href="#")
                                    .pages-main Новости
                                .pages-arrow
                                    svg.arrow-last(width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 3.99999L1.27146e-07 8L0 0L5 3.99999Z' fill='#83B143')
                                a(href="#")
                                    .pages-now Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                            .title Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)

            //Message
            .message
                .container
                    .message-all
                        .message-all__date
                            .date-icon
                                img(src="img/date.svg", alt="")
                            .date-text 9 МАРТА 2022
                        .message-all__text.
                            <span>Мы рады сообщить, о том что:</span>
                            <br><br>
                            9 марта 2022 года Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ), соответствующая информация была опубликована на официальном информационном ресурсе Банка России.
                            <br><br>
                            <a href="#">https://www.cbr.ru/press/event/?id=12740</a>
                            <br><br>
                            Статус КБКИ является показателем того, что "Кредитное бюро Русский Стандарт" соответствует самым высоким требованиям к IT-инфраструктуре, системам защиты информации, устойчивым финансовым показателям, объему и качеству хранимой информации.
                            <br><br>
                            Для всех пользователей услуг БКИ это означает, что наше Бюро будет оказывать услуги по предоставлению сведений о среднемесячных платежах потенциальных заемщиков, которые необходимы для расчета показателя долговой нагрузки, после вступления в силу соответствующего законодательства.
                        .message-all__button
                            a(href="#") Вернуться в общий список

            //otherNews
            .otherNews
                .container
                    .otherNews-all
                        .otherNews-all__title Еще новости:
                        .otherNews-all__main
                            .main-item
                                .main-item__date 9 МАРТА 2022
                                a(href="#")
                                    .main-item__title 03 ноября 2021 г. отменяется прием физических лиц
                                .main-item__text.
                                    В связи с Указом мэра Москвы от 21.10.2021 N 62-УМ "О внесении изменений в 
                                    указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 
                                    03.11.2021 г. отменяется прием физических лиц по адресу город Москва, 
                                    Семеновская площадь, дом 7, корпус 1.
                                .main-item__button
                                    a(href="#") Читать
                            .main-item
                                .main-item__date 22 ИЮНЯ 2022
                                a(href="#")
                                    .main-item__title 23 июня 2021 г. отменяется прием физических лиц
                                .main-item__text.
                                    В связи со сложной ситуацией, связанной с распространением новой коронавирусной 
                                    инфекции (COVID-19), в ООО «Кредитное бюро Русский Стандарт» 23.06.2021 г. отменяется 
                                    прием физических лиц
                                .main-item__button
                                    a(href="#") Читать
                            .main-item
                                .main-item__date 15 ИЮНЯ 2021
                                a(href="#")
                                    .main-item__title 16 июня 2021 г. отменяется прием физических лиц
                                .main-item__text.
                                    В связи с Указом мэра Москвы от 12 июня 2021 года № 29-УМ "О внесении изменений в указ 
                                    Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 
                                    16.06.2021 г. отменяется прием физических
                                .main-item__button
                                    a(href="#") Читать

            include includes/footer

        include includes/scripts
