doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/news.min.css")
    body
        .all
            //Preloader
            include includes/preloader
            
            //Sites elements
            include includes/elements

            //Header
            include includes/header
                                
            //Promo
            .promo
                .container
                    .promo-all
                        .promo-all__text
                            .pages
                                a(href="#")
                                    .pages-main Главная
                                .pages-arrow
                                    svg.arrow-last(width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 3.99999L1.27146e-07 8L0 0L5 3.99999Z' fill='#83B143')
                                a(href="#")
                                    .pages-now Новости
                            .title Новости

            //Events
            .events
                .container
                    .events-all
                        .events-all__main
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 9 МАРТА 2022
                                    .main-item__title.
                                            Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус 
                                            квалифицированного бюро кредитных историй (КБКИ)
                                    .main-item__subtitle.
                                        9 марта 2022 года Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус 
                                        квалифицированного бюро кредитных историй (КБКИ)
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 2 НОЯБРЯ 2022
                                    .main-item__title.
                                            03 ноября 2021 г. отменяется прием физических лиц
                                    .main-item__subtitle.
                                        В связи с Указом мэра Москвы от 21.10.2021 N 62-УМ "О внесении изменений в указ 
                                        Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 
                                        03.11.2021 г. отменяется прием физических лиц по адресу город Москва, 
                                        Семеновская площадь, дом 7, корпус 1.
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 22 ИЮНЯ 2022
                                    .main-item__title.
                                            23 июня 2021 г. отменяется прием физических лиц
                                    .main-item__subtitle.
                                        В связи со сложной ситуацией, связанной с распространением новой коронавирусной 
                                        инфекции (COVID-19), в ООО «Кредитное бюро Русский Стандарт» 23.06.2021 г. отменяется 
                                        прием физических лиц
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 15 ИЮНЯ 2021
                                    .main-item__title.
                                            16 июня 2021 г. отменяется прием физических лиц
                                    .main-item__subtitle.
                                        В связи с Указом мэра Москвы от 12 июня 2021 года № 29-УМ "О внесении изменений 
                                        в указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 
                                        16.06.2021 г. отменяется прием физических
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 9 ОКТЯБРЯ 2020
                                    .main-item__title.
                                            Подача заявлений на оспаривание кредитной истории через личный кабинет
                                    .main-item__subtitle.
                                        Подача заявления в электронном виде доступна идентифицированным пользователям в 
                                        Личном кабинете Физического лица в разделе «Техподдержка».
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 27 МАРТА 2020
                                    .main-item__title.
                                            Режим работы в период с 30 марта по 3 апреля
                                    .main-item__subtitle.
                                        В связи с введением режима повышенной готовности и профилактики распространения 
                                        коронавирусной инфекции, а также гриппа, ОРВИ и подобных заболеваний, ООО 
                                        «Кредитное бюро Русский Стандарт» просим Вас воздержаться от посещений офиса Бюро в 
                                        период действия режима повышенной готовности, т.е. с 30 марта по 3 апреля 2020 года.
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 23 ДЕКАБРЯ 2019
                                    .main-item__title.
                                            Изменение адреса нахождения офиса (Малая Семеновская)
                                    .main-item__subtitle.
                                        Уважаемые Партнеры, сообщаем, что с 30.12.2019 г. офис Бюро, ранее размещавшийся 
                                        на ул. Малая Семеновская, д. 9 стр. 3, будет располагаться по адресу Преображенская 
                                        площадь, д.8, офис 5Б3.
                            a(href="#")
                                .main-item
                                    .main-item__date
                                        .date-icon
                                            img(src="img/date.svg", alt="")
                                        .date-text 28 ОКТЯБРЯ 2019
                                    .main-item__title.
                                            Обновленный кредитный отчет
                                    .main-item__subtitle.
                                        Кредитное бюро Русский Стандарт полностью обновило свой кредитный отчет.
                        .events-all__pages
                            a(href="#")
                                .pages-prev
                                    svg(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')
                            .pages-counter
                                a(href="#")
                                    .pages-counter__item.active-count 1
                                a(href="#")
                                    .pages-counter__item 2
                                a(href="#")
                                    .pages-counter__item 3
                                a(href="#")
                                    .pages-counter__item 4
                                a(href="#")
                                    .pages-counter__item 5
                                a(href="#")
                                    .pages-counter__item 6
                                a(href="#")
                                    .pages-counter__item 7
                                a(href="#")
                                    .pages-counter__item 8
                            a(href="#")
                                .pages-next
                                    svg(width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.0075 6.50125C4.74751 6.50125 4.4975 6.40125 4.2975 6.21125L0.297505 2.21125C-0.0924951 1.82125 -0.0924951 1.18125 0.297505 0.791249C0.687505 0.401249 1.3275 0.401249 1.7175 0.791249L5.0075 4.08125L8.2975 0.791249C8.6875 0.401249 9.3175 0.401249 9.7075 0.791249C10.0975 1.18125 10.0975 1.81125 9.7075 2.20125L5.7175 6.21125C5.51751 6.41125 5.2675 6.50125 5.0075 6.50125Z' fill='#83B143')

            include includes/footer

        include includes/scripts
