doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/login.min.css")
    body
        .all
            //Preloader
            include includes/preloader
            
            //loginHead
            .loginHead
                .loginHead-all
                    .loginHead-all__logo
                        a(href="#")
                            img(src="img/logo.png", alt="")

            //Back-girl
            img.back-girl(src="img/auth.png", alt="")

            //Passreset
            .passreset
                .container
                    .passreset-all
                        .passreset-all__caption
                            img(src="img/login-icon.svg", alt="")
                            span Восстановление учетных данных
                        .passreset-all__form
                            form(action="#")
                                label(for="phone") Логин (номер мобильного телефона или email)
                                input(type="text" id="phone").reset
                                .hr
                                .form-buttons
                                    .form-buttons__log
                                        a(href="#") Войти
                                    .form-buttons__reset
                                        input(type="submit" value="Восстановить")


        include includes/scripts
