doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/text-page.min.css")
    body
        .all
            //Preloader
            include includes/preloader
            
            //Sites elements
            include includes/elements

            //Header
            include includes/header
                                
            //Promo
            .promo
                .container
                    .promo-all
                        .promo-all__text
                            .pages
                                a(href="#")
                                    .pages-main Главная
                                .pages-arrow
                                    img(src="img/arrow.svg", alt="")
                                a(href="#")
                                    .pages-now О компании
                            .title О компании

            //PageDesc
            .pageDesc
                .container
                    .pageDesc-all.
                        В настоящее время <span>ООО «Кредитное бюро Русский Стандарт»</span> является одним из лидеров российского рынка кредитных историй. В Бюро хранится свыше 140 миллионов записей о субъектах, включая кредитные истории, информацию о запросах. Бюро осуществляет свою деятельность в соответствии с требованиями Федерального закона № 218 «О кредитных историях» и действующими национальными и международными стандартами в области защиты информации. <br><br>
                        Компания использует современное программное обеспечение, стремится к постоянному повышению качества услуг, сотрудничеству со всеми структурами, заинтересованными в развитии института бюро кредитных историй в России.

            //Position
            .position
                .container
                    .position-all
                        .position-all__left
                            .market
                                .market-title Наша позиция и преимущество на рынке
                                .market-main
                                    .market-main__item
                                        .title Эксклюзивная информация
                                        .block
                                            .block-img
                                                img(src="img/success.svg", alt="")
                                            .block-text Объем эксклюзивных данных АО "Банка Русский Стандарт" составляет свыше 35 миллионов кредитных историй субъектов — заемщиков одного из крупнейших игроков на рынке потребительского кредитования.
                                    .market-main__item
                                        .title Высокотехнологичная платформа
                                        .block
                                            .block-img
                                                img(src="img/success.svg", alt="")
                                            .block-text Комплекс информационно-аналитических услуг Бюро позволяет выполнить всестороннюю оценку кредитных рисков как на основе информации по кредитным историям, так и по данным, полученным от внешних источников.
                                    .market-main__item
                                        .title Профессиональная команда
                                        .block
                                            .block-img
                                                img(src="img/success.svg", alt="")
                                            .block-text Профессиональная команда опытных разработчиков программного обеспечения и администраторов информационных систем позволяет решать поставленные задачи в кратчайшие сроки.
                                    .market-main__item
                                        .title Профессиональная команда
                                        .block
                                            .block-img
                                                img(src="img/success.svg", alt="")
                                            .block-text Информационное воздействие с каждым из наших партнеров строится индивидуально, что позволяет создавать уникальные сервисы адаптированные по потребности пользователей без бюрократии и длительных согласований.
                            .activity
                                .activity-title Наша деятельность направлена
                                .activity-main
                                    .main-item__one
                                        .item-top
                                            img(src="img/activity1.png", alt="")
                                        .item-text
                                            .item-text__title По отношению к Партнерам и Клиентам
                                            .item-text__desc.
                                                Обеспечивать достижение высоких показателей эффективности, полноты и качества оказания услуг, завоевание места полноправного партнера на финансовом рынке и в повседневной жизни граждан.<br><br>
                                                Оказывать профессиональную информационную и техническую поддержку, содействовать развитию бизнеса наших Партнеров на долгосрочной основе через оптимальную организацию предоставления информационных услуг.
                                    .activity-wrapper
                                        .main-item__two
                                            .item-top
                                                img(src="img/activity2.png", alt="")
                                            .item-text
                                                .item-text__title По отношению к обществу
                                                .item-text__desc.
                                                    Формировать корректное, уважительное отношение общества к финансовой среде, российскому законодательству, моральным и общественным принципам.
                                        .main-item__two
                                            .item-top
                                                img(src="img/activity1.png", alt="")
                                            .item-text
                                                .item-text__title По отношению к персоналу
                                                .item-text__desc.
                                                    Предоставлять оптимальные условия для эффективной работы, обеспечивать профессиональный и личностный рост, возможности для самореализации.
                        .position-all__right
                            .about
                                .about-img
                                    img(src="img/logo4.svg", alt="")
                                .about-title ООО «Кредитное бюро Русский Стандарт»
                                .about-text определяет свою миссию в разработке и предоставлении партнерам и клиентам оптимального портфеля информационно — аналитических услуг с обеспечением максимальной достоверности и самого высокого качества обслуживания.
                            a(href="#")
                                .side
                                    .side-img
                                        img(src="img/icon1.svg", alt="")
                                    .side-text Руководство бюро
                            a(href="#")
                                .side
                                    .side-img
                                        img(src="img/icon2.svg", alt="")
                                    .side-text Документы и лицензии

            include includes/footer

        include includes/scripts
